In [11]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import math


data = [[2011, 2404.8],
        [2012, 2302.2],
        [2013, 2206.2],
        [2014, 2190.6],
        [2015, 2388.5],
        [2016, 2160.1],
        [2017, 2058.5],
        [2018, 1991.5],
        [2019, 2024.3],
        [2020, 2044.2],
        [2021, 2004.4],
        [2022, 1966.8],  
        ]


df = pd.DataFrame(data, columns=['year', 'amount'])
 
df

    year  amount
0   2011  2404.8
1   2012  2302.2
2   2013  2206.2
3   2014  2190.6
4   2015  2388.5
5   2016  2160.1
6   2017  2058.5
7   2018  1991.5
8   2019  2024.3
9   2020  2044.2
10  2021  2004.4
11  2022  1966.8

Прогнозирование методом аналитического выравнивания

In [12]:
sum_yi_ti = 0
sum_yi = sum(df['amount'])
sum_ti = sum(df['year'])

# E ti^2
sum_ti_2 = 0

# (E ti)^2
sum_ti_2_2 = sum_ti**2


n = 10

for id in range(10+1):
    t_i = df['year'][id]
    y_i = df['amount'][id]

    sum_yi_ti += y_i*t_i
    sum_ti_2 += t_i ** 2



b = (sum_yi_ti - 1/n * sum_yi * sum_ti)/(sum_ti_2 - 1/n * sum_ti_2_2)
a = 1/n *(sum_yi - b * sum_ti)

In [13]:
def func(t: int):
    return a + b * t

print(func(2022))

2161.5681970551805